https://www.youtube.com/watch?v=1cAv-A6EbZE

In [1]:
#convert a number into a string:
mynumber = 22
print(str(mynumber))

22

In [2]:
#the absolute value of a number:
ii = -22
abs(ii)

22

In [3]:
#power of a number:
pow(3, 2)

9

In [4]:
#maximum of numbers:
max(3, 22, 1)

22

In [5]:
round(3.22)

3

In [6]:
round(7.8)

8

In [8]:
from math import *
floor(3.9)

3

In [10]:
# the input function:
name = input("enter your name")
print("my " + "name " + "is " + name)

enter your namebahar
my name is bahar

In [ ]:
# if the input above is a number, the python does not consider it as a number, it considers it as a string!!
# so to avoid it, we should use: int(num), or float(num)

In [11]:
color = input("enter a color: ")
noun = input("enter a name: ")
celebrity = input("enter name of a celebrity: ")
print(" The Good color is " + color)
print("The good noun is " + noun)
print("The good celebrity is " + celebrity)

enter a color: Abi
enter a name: Kaveh
enter name of a celebrity: Kaveh
 The Good color is Abi
The good noun is Kaveh
The good celebrity is Kaveh

In [16]:
friends = ["Kaveh", "Mari", "bahar"]
print(friends[0])

Kaveh

In [14]:
nums = [1, 2, 3]

In [19]:
friends = ["Kaveh", "Mari", "bahar"]
nums = [1, 2, 3]
friends.extend(nums)
print(friends)

['Kaveh', 'Mari', 'bahar', 1, 2, 3]

In [20]:
friends.append("ali")
print(friends)

['Kaveh', 'Mari', 'bahar', 1, 2, 3, 'ali']

In [23]:
friends.insert(1, "baharr")
print(friends)

['Kaveh', 'baharr', 'Mari', 'bahar', 1, 2, 3, 'ali']

In [ ]:
friends.clear()

In [25]:
friends.pop(3)

'bahar'

In [27]:
nums.sort()
print(nums)

[1, 2, 3]

In [30]:
nums.reverse()
print(nums)

[3, 2, 1]

In [32]:
nums2 = nums.copy()
print(nums2)

[3, 2, 1]

In [34]:
#tuples: are immutable; can not change
coordinates = (4, 5)
print(coordinates[1])

5

In [35]:
#functions
def myfunc():
    print("hi")

#I have to call the function to execute the function

In [36]:
myfunc()

hi

In [39]:
def myfunc2(name):
    print("hi" + name)

myfunc2(" Kaveh")

hi Kaveh

In [40]:
#we need "return" for a function:

def cube(num):
    num*num*num



print(cube(3))

None

In [41]:
def cube(num):
    return num*num*num



print(cube(3))

27

In [3]:
ismale = False
istall = False
if ismale or istall:
    print("you are male")
else:
    print("you are not a man")

you are not a man

In [5]:
ismale = False
istall = True
if ismale and istall:
    print("you are male")
else:
    print("you are not a man")

you are not a man

In [6]:
ismale = False
istall = False
if ismale or istall:
    print("you are male")
elif ismale and not(ismale):
    print("hi")
else:
    print("you are not a man")

you are not a man

In [8]:
n1 = float(input(print("enter the first number")))
n2 = float(input(print("enter the second number")))
op = input(print("enter the operator"))
if op == "+":
    print(n1 + n2)
elif op == "-":
    print(n1 - n2)
elif op == "*":
    print(n1 * n2)
elif op == "/":
    print(n1 / n2)
else:
    print("not a valid operator")

enter the first number
None44
enter the second number
None55
enter the operator
None/
0.8

In [9]:
mdic = {
    "jan": "january",
    "feb": "february"


}

In [11]:
mdic["feb"]

'february'

In [12]:
mdic.get("feb")
#if the key is not in the dictionary , we can also use get

'february'

In [14]:
i = 22
while i<=30:
    print(i)
    i += 1

22
23
24
25
26
27
28
29
30

In [18]:
secretword = "Kaveh joonam"
guess = ""
guesscount = 0

while guess != secretword:
    guess = input("enter the word: ")
    guesscount += 1
print(guesscount)
print("you win")

enter the word: kaveh
enter the word: Kaveh joonam
2
you win

In [19]:
for letter in "Kaveh joonam":
    print(letter)

K
a
v
e
h

j
o
o
n
a
m

In [23]:
friends = ["kaveh", "bahar"]
for i in friends:
    print(i)

kaveh
bahar

In [24]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [25]:
len(friends)

2

In [26]:
def power(basenumber, powernumber):
    result = 1
    for index in range(powernumber):
        result = result * basenumber
    return result


print(power(2, 3))

8

In [ ]:
input(print("enter the base number: "))
    input(print("enter the power: "))

In [28]:
twodarray = [[1, 2], [3,4], [5,6,7], [0]]

In [30]:
print(twodarray[1][1])

4

In [31]:
#nested for loop:
for row in twodarray:
    print(row)

[1, 2]
[3, 4]
[5, 6, 7]
[0]

In [32]:
for row in twodarray:
    for column in row:
        print(column)

1
2
3
4
5
6
7
0

In [40]:
def translator(phrase):
    translation = ""
    for letter in phrase:
        if letter in "AEIOUaeiou":     #if letter.lower() in "AEIOUaeiou":
            translation = translation + "k"
        else:
            translation = translation + letter

    return translation

In [41]:
print(translator("bahar"))

bkhkr

In [42]:
'''
fecef
'''

## both ways for comment

'\nfecef\n'

In [45]:
#try:

try:
    number = int(input("enter a number: "))
    print(number)
except:
     print("invalid input")

enter a number: kaveh
invalid input

In [ ]:
#read files:

open(file.txt, "r")
open(file.txt, "W")
open(file.txt, "a")
open(file.txt, "r+")

In [ ]:
#if the file is readable: we can use .readable()
print(file.readable())
print(file.read())
print(file.readline())

In [ ]:
print(file.readline())
#what it does is putting each line of the file in a LIST , so we can access each line of the file by this:
print(file.readline()[1])

In [ ]:
filetoread = open("file.txt", "r")
for files in filetoread.readlines():
    print(files)
filetoread.close()

In [ ]:
#append to the file:
filetoread = open("file.txt", "a")
filetoread.write("\nthis is a new line")
filetoread.close()

In [46]:
#w will write over all the lines in the file:
filetoread = open("file.txt", "w")
filetoread.write("\nthis is a new line")
filetoread.close()
#but if I have the name of the file a new name, it will create a new file

In [47]:
#append to the file:
filetoread = open("file.txt", "r")

filetoread.close()

In [48]:
filetoread

In [ ]:
#modules: if i haveanother python file including many functions and operations and variables, we canuse that external module into
#our current python file, then it has access to all those functions and everything inside that other python file

In [10]:
#with classes we can define our own data type

class student:

    def __init__(self, name, major, gpa, isonprobation):
        self.name = name
        self.major = major
        self.gpa = gpa
        self.isonprobation = isonprobation

In [28]:
#from student import student
student1 = student("jim", "cs", 3, False)

In [12]:
print(student1.name)

jim

In [14]:
question_prompt = [
    "what color are apples?\n(a) red\n(b) yellow\n(c) black\n\n",
    "who is you favorite person in the whole world?\n(a) Kaveh\n(b) Kaveh joone delam",
    "where is your favorite spot?\n(a) Kaveh's baghal\n(b) Kaveh's del\n(c) Kaveh's tooye delesh"
]

question_prompt

['what color are apples?\n(a) red\n(b) yellow\n(c) black\n\n',
 'who is you favorite person in the whole world?\n(a) Kaveh\n(b) Kaveh joone delam',
 "where is your favorite spot?\n(a) Kaveh's baghal\n(b) Kaveh's del\n(c) Kaveh's tooye delesh"]

In [17]:
class questionanswer:
    def __init__(self, prompt, answer):
        self.prompt = prompt
        self.answer = answer

In [18]:
questions=[
    questionanswer(question_prompt[0], "a"),
    questionanswer(question_prompt[1], "b"),
    questionanswer(question_prompt[2], "b")

]

In [24]:
def user(questions):
    res = 0
    for question in questions:
        answer = input(question.prompt)
        if answer == question.answer:
            res += 1
    print("you got" + str(res) + "/" + str(len(questions)) + "correct")

In [25]:
user(questions)

what color are apples?
(a) red
(b) yellow
(c) black

a
who is you favorite person in the whole world?
(a) Kaveh
(b) Kaveh joone delamb
where is your favorite spot?
(a) Kaveh's baghal
(b) Kaveh's del
(c) Kaveh's tooye deleshb
you got3/3correct

In [26]:
class student:

    def __init__(self, name, major, gpa, isonprobation):
        self.name = name
        self.major = major
        self.gpa = gpa
        self.isonprobation = isonprobation

    def honor(self):
        if self.gpa >= 3.5:
            return True
        else:
            return False

In [29]:
print(student1.honor())

False